<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form>
    <label for="firstName">Firstname:</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Lastname:</label>
    <input type="text" id="lastName" name="lastName">
    <label for="role">Role:</label>
    <input type="text" id="role" name="firstName">
    </form>
</body>
</html>